body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background-color: #27292b;
    color: #FFF;
}

section {
    text-align: center;
}


/* FOOTER */
.footer #button {
    width: 35px;
    height: 35px;
    border: #949494 12px solid;
    border-radius: 35px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.footer #button:hover {
    width: 35px;
    height: 35px;
    border: #3A3A3A 12px solid;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}

.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 2em;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 999;
}

.footer:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    height: 40em;
}

.footer #container {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #212529;
}

.footer #cont {
    position: relative;
    top: -45px;
    right: 190px;
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.contacts {
    width: 500px;
    float: left;
    text-align: center;
}

.map {
    width: 500px;
    float: left;
    text-align: center;
}
.textMap{
    text-align: center;
}

.footer h3 {
    font-family: 'Helvetica';
    font-size: 30px;
    font-weight: 100;
    margin-top: 70px;
    margin-left: 40px;
}